In [ ]:
#This script requires that you have a q process running on port 51001
#This could be the TP set up from previous exercise or other.

In [1]:
#Import relevent packages
import pandas as pd
import numpy as np
import q

In [344]:
#Create a pandas df from the trade csv. 
trade = pd.read_csv("trade.csv")
trade.head()

         date          time   sym     price  size   ex
0  2019-10-13  00:41:09.207  APPL  9.929108    25  LDN
1  2019-10-13  01:43:58.622   AMZ  7.227496    38  NYC
2  2019-10-13  04:39:30.300   BMW  8.236115    54  NYC
3  2019-10-13  00:08:12.640  FROG  3.865843    77  LDN
4  2019-10-13  03:20:42.011  APPL  9.931491    67  NYC

In [332]:
#Connect to the Q session.
#If running on a server then change localhost to appropriate. 
conn=q.q('localhost', 51001, 'calvin:password')

In [343]:
#Send over a message for each row in the table.
for i in np.array(trade[:5]):
    conn.k(('.tp.upd[`trade;("D"$"{0}";{1};`{2};{3};{4};`{5})]').format(i[0],i[1],i[2],i[3],i[4],i[5]))